#logobooleaners{
    width: 200px;
    padding-top: 40px;
    padding-left: 10px;
   
}

header{
    background-color: #4ea0ff;
    background-size: 500px;
    height: 100px;
    background-image: url(../img/pattern.png);
    
}

body{
    margin: 0px;
}

#data{
    font-size: 12px;
}

.desc-foto{
    font-size: 10px;
}

.fontazzurro{
    color: #31afe6;
}

.yellow{
    background-color: yellow;
}