#logobooleaners{
    width: 200px;
    padding-top: 40px;
    padding-left: 30px;
   
}

header{
    background-color: #4ea0ff;
    background-size: 500px;
    height: 100px;
    background-image: url(../img/pattern.png);
    
}

body{
    margin: 0px;
}

#data{
    font-size: 12px;
}

.desc-foto{
    font-size: 10px;
}

.fontazzurro{
    color: #31afe6;
}

.yellow{
    background-color: yellow;
}


section{
    margin: 30px;
}

table{
    text-align: left;
    
}

.colore{
    background-color: #20a9e5;
    
}

.colore2{
    background-color: #b1e5f2;
}

.colonne2{
    width: 300px;
}


th{
    padding-top: 5px;
    padding-bottom: 5px;
}